<div class="tictactoe">
    
    <div class="row">
        <div class="col cell1" (click)="choosePosition(1)">{{ getPlayerSymbol(1) }}</div>
        <div class="col cell2" (click)="choosePosition(2)">{{ getPlayerSymbol(2) }}</div>
        <div class="col cell3" (click)="choosePosition(3)">{{ getPlayerSymbol(3) }}</div>
    </div>
    <div class="row">
        <div class="col cell4" (click)="choosePosition(4)">{{ getPlayerSymbol(4) }}</div>
        <div class="col cell5" (click)="choosePosition(5)">{{ getPlayerSymbol(5) }}</div>
        <div class="col cell6" (click)="choosePosition(6)">{{ getPlayerSymbol(6) }}</div>
    </div>
    <div class="row">
        <div class="col cell7" (click)="choosePosition(7)">{{ getPlayerSymbol(7) }}</div>
        <div class="col cell8" (click)="choosePosition(8)">{{ getPlayerSymbol(8) }}</div>
        <div class="col cell9" (click)="choosePosition(9)">{{ getPlayerSymbol(9) }}</div>
    </div>
</div>